# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
*.env

# Virtualenv
venv/
ENV/
.env/

# Django-specific
*.sqlite3
db.sqlite3
staticfiles/
media/
*.log

# IDE and OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Node-related (if using frontend tools)
node_modules/
*.lock